{% extends 'base.html' %}
{% block content %}
    <div class="mx-auto mt-8">
        <div class="bg-white p-6 mb-4 border border-black">
            <h3 class="font-bold text-xl text-black mb-2">{{ project.title }}</h3>
            <p class="text-black mb-3 text-wrap">{{ project.description }}</p>
            <div class="flex gap-4 text-sm text-black">
                <span class="font-semibold">Price: ${{ project.avg_price }}</span>
                <span class="font-semibold">Steps: {{ project.step_count }} steps</span>
                <span class="font-semibold">Time: {{ project.estimated_time }}</span>
                <span class="font-semibold">Rental Safe: {{ project.is_rental_safe }}</span>
                <span class="font-semibold">Requires Drilling: {{ project.requires_drilling }}</span>
                <span class="font-semibold">Materials: {{ project.materials_json }}</span>
                <span class="font-semibold">Tools: {{ project.tools_json }}</span>
            </div>
        </div>
    </div>
    <div class="mt-8">
        <h4 class="text-xl text-black font-bold mb-4">Instructions</h4>
        <ol class="space-y-4">
            {% for step in project.steps.all %}
                <li class="p-4 bg-white border ">
                    <span class="font-bold text-black">Step {{ step.step_number }}:</span>
                    <p class="mt-1 text-black">{{ step.instruction_text }}</p>
                </li>
                {% empty %}
                <p>No steps :(</p>
            {% endfor %}
        </ol>
    </div>
{% endblock %}