{% extends 'base.html' %}
{% block content %}
<div class="max-w-5xl mx-auto flex min-h-[500px] items-center py-16">
  <div class="w-1/2 px-8">
    <h1 class="text-4xl text-black mb-4">Welcome to UpKeep</h1>
  </div>
  <div class="w-1/2 px-8">
  <h2 class="text-xl text-black mb-2">OUR WHY</h2>
  <p class="text-black">This project is a home maintenance reminder system desigined to help users stay organized and proactive about caring 
    for their homes. <br>
    This system reminds users when tasks need to be completed, helping prevent missed maintenance and reducing long-term wear and damage.
    By centralizing all home maintenance needs in one place, this project makes it easier for users to manage responsibilities, save and manage time, and maintain
    a safe and well-functioning home without having to remember every task. 
  </p>
  </div>
  
</div>
{% endblock %}
